/* Imports */

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:300);

/* Font */
html,
body {
    font-family: 'Josefin Slab', serif;
}

body {
    overflow-x: hidden;
}

.bar-panel {
    width: 100%;
    height: 100vh;
    background-attachment: scroll;
    background-size: 100% 100%;
}

#logo-img {
    width: 100%;
    height: 30vh;
    padding: 0px 10%;
    margin-top: 30vh;
    opacity: 0.8;
}

#logo-img:hover {
    opacity: 1;
}


.name-label,
.scroll-down-img {
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 10px;
}

.scroll-down-img {
    width: 100%;
    -moz-animation: flash 2s linear infinite;
    -o-animation: flash 2s linear infinite;
    -webkit-animation: flash 2s linear infinite;
    animation: flash 2s linear infinite;
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#self-img {
    float: right;
    height: 100vh;
    max-width: 50%;
    padding: 120px 20px 0px;
}

.clouds {
    background: transparent url(img/clouds-min.png) repeat top center;
    z-index: 3;
    display: inline;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 200px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    background-size: 100% 250%;

    -moz-animation: move-clouds-back 200s linear infinite;
    -o-animation: move-clouds-back 200s linear infinite;
    -webkit-animation: move-clouds-back 200s linear infinite;
    animation: move-clouds-back 200s linear infinite;
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

.circle-link {
    z-index: 4;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
    margin-top: 50px;
    margin-left: 5%;
    opacity: 0.8;
}

.circle-link:first-child {
    margin-left: 0px;
}

.circle-link:hover {
    opacity: 1;
}

.circle-link > i {
    height: 100px;
    width: 100px;
    padding-top: 20px;
    text-align: center;
    border: 2px solid;
    border-radius: 50%;
}

.contacts-background {
    background-position: 0% 100%;
    text-align: center;
    height: 200px;
}

#koi-img {
    width: 100%;
    padding: 20px;
    opacity: 0.8;
    max-height: 50%;
}

#koi-img:hover {
    opacity: 1;
}

#deep-ocean {
    background: linear-gradient(0deg, #04316b, #2d6dbe, #009e57);
    background-size: 600% 600%;
    
    -webkit-animation: deep-ocean 15s ease infinite;
    -moz-animation: deep-ocean 15s ease infinite;
    animation: deep-ocean 15s ease infinite;
}

@-webkit-keyframes deep-ocean {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes deep-ocean {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes deep-ocean {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}






/*
.lights-background {
    background-size: 100% 100%;
    background-image: url(img/infinity-min.jpg);
    background-position: 0% 100%;
    z-index: 1;

    -moz-animation: lights-switch 30s linear infinite;
    -o-animation: lights-switch 30s linear infinite;
    -webkit-animation: lights-switch 30s linear infinite;
    animation: lights-switch 30s linear infinite;
}

.rain-background{
    background-size: 100% 100%;
    background-image: url(img/rain.jpg);
    background-position: 0% 100%;
}

@keyframes lights-switch {
    0% {filter: hue-rotate(0deg);}
    50% {filter: hue-rotate(180deg);}
    100% {filter: hue-rotate(360deg);}
}

@-webkit-keyframes lights-switch {
    0% {-webkit-filter: hue-rotate(0deg);}
    50% {-webkit-filter: hue-rotate(180deg);}
    100% {-webkit-filter: hue-rotate(360deg);}
}

@-moz-keyframes lights-switch {
    0% {-webkit-filter: hue-rotate(0deg);}
    50% {-webkit-filter: hue-rotate(180deg);}
    100% {-webkit-filter: hue-rotate(360deg);}
}

.bar-padding-bottom {
    padding: 25px 0px 10px;
}
*/
